body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #ebcdcd;
}

body{
    background: url('/desenho.avif');
background-size: auto;
background-position: center;
background-repeat: no-repeat;
height: 150vh;
justify-content: center;
align-items: center;
}

header{
    background-color:#ffffff;
    border-radius: 10px;
}

h1{
    text-align: center;
    font-size: 32px;
    font-weight: 900;
}

p{
    text-align: center;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    color: blue;

}

.container_nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    padding: 10px;
    background-color: #ebcdcd;
}

.container_nav li{
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
    list-style: none;
}

.container_nav li a{
    text-decoration: none;
    color: rgb(60, 0, 116);
    font-size: 1.5em;
    font-weight: bolder;
}

span{
    color: #ffa600;
}

h2 a{
    text-decoration: none;
    font-size: 1.5em;
    background-color: #ebcdcd;
}