body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #e7e7e7;
}

h1{
    text-align: center;
    font-size: 32px;
    font-weight: 900;
}

p{
    text-align: center;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}